{% extends 'history_main/base.html' %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'forms.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block title %}
    Редактировать профиль
{% endblock title %}
{% block main %}
    <div class="form_container">
        <div>
            <p class="title">Изменить Пароль</p>
            <form method="post", action="{% url 'change_password' %}?change=1" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" value="{{ user.username }}" name="user">
                <label class="form_label">Ключ: </label>
                <input name="secret_key" id="" class="form_input">
                <label class="form_label">Пароль: </label>
                <input type="password" name="password1" id="" class="form_input">
                <label class="form_label">Повтор пароля: </label>
                <input type="password" name="password2" id="" class="form_input">
                <button class="submit_button" type="submit">Ввести</button>
                {% if form.errors %}
                    <span>Не все поля заполнены или пароли не совпадают</span>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock main %}