{% extends 'history_main/base.html' %}
{% block title %}
    Авторизация
{% endblock title %}

{% block main %}
    {% if user.is_authenticated %}
        <script>
            document.location.href = "/";
        </script>
    {% endif %}
    <div class="auth_form">
        <form method="post" action='{% url "login" %}'>
            {% csrf_token %}
            <label for="">Логин: {{ form.username }}</label><br>
            <label for="">Пароль: {{ form.password }}</label><br>
            <input type="submit" value="Авторизация">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
    {% if form.errors %}
        <p>Неверное имя пользователя или пароль</p>
    {% endif %}
{% endblock main %}