{% extends 'history_main/base.html' %}
{% block title %}
    Авторизация
{% endblock title %}

{% block main %}
    {% if form.errors %}
        <p>hmmm, SOMETHING STRANGE HERE!!</p>
    {% endif %}
    {% if next %}
        <p>Вон отсюдова</p>
    {% endif %}
    {% if user.is_authenticated %}
        <script>
            document.location.href = "/";
        </script>
    {% endif %}
    <form method="post" action='{% url "login" %}'>
        {% csrf_token %}
        {{ form.username }} <br>
        {{ form.password }} <br>
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock main %}