{% extends 'history_main/base.html' %}
{% block title %}Профили{% endblock %}
{% block main %}
    {% for profile in object_list %}
        <div class="single_profile">
            <img src="{{ profile.avatar.url }}" alt="" width="300">
            <p>{{ profile.last_name }} {{ profile.first_name }}</p>
            <div class="desc">
                Последний раз был в сети: {{ profile.last_login.day }} {% if profile.last_login.month|length < 2 %}0{% endif %}{{ profile.last_login.month }} {{ profile.last_login.year }}: {{ profile.last_login.time }}<br>
                Статус: {% if profile.is_admin %}Администратор{% elif profile.is_moderator %}Модератор{% else %}Пользователь{% endif %} <br>
                Количество публекаций: {{ profile.uploads_amount }}
            </div>
            <a href="{% url 'profile_detail' pk=profile.id %}">Подробнее</a>
        </div>
    {% endfor %}
{% endblock %}