{% extends 'history_main/base.html' %}
{% block title %}
    Регистрация
{% endblock title %}

{% block main %}
    <div class="register_form">
        <form method="post", action="{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="">Логин: {{ form.username }}</label><br>
            <label for="">Имя: {{ form.first_name }}</label><br>
            <label for="">Фамилия: {{ form.last_name }}</label><br>
            <label for="">Пароль: {{ form.password1 }}</label><br>
            <label for="">Повтор пароля: {{ form.password2 }}</label><br>
            <label for="">Аватар: {{ form.avatar }}</label><br>
            <button type="submit">Регистрация</button>
        </form>
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
    </div>
{% endblock main %}