{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">
    <link href="{% static 'header.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'main.css' %}" type="text/css" rel="stylesheet">
    <script src="{% static 'ask.js' %}" ></script>
    <script src="{% static 'search.js' %}" ></script>
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
            <div class="section">
                <a class="logo" href="http://sch45.com.ru"><img src="{% static 'logo.png' %}" alt=""></a>
                <a class="item" href="http://sch45.com.ru" class="href">Главная</a>
                <a class="item" href="{% url 'index' %}" class="href">Ветераны</a>
                <a class="item" href="{% url 'exhibit_list' %}" class="href">Музей</a>
                <a class="item" href="{% url 'profile_list' %}" class="href">Профили</a>
                <a class="item" href="{% url 'create_solder' %}" class="href">Добавить ветерана</a>
                {% if user.is_staff %}
                    <a class="item" href="/admin" class="href">Админ-панель</a>
                {% endif %}
            </div>
            <div class="section">
                {% if not user.is_authenticated %}
                    <a class="item" href="{% url 'login' %}">Авторизация</a>
                    <a class="item" href="{% url 'register' %}">Регистрация</a>
                {% else %}
                    <a class="item" href="{% url 'profile_detail' pk=user.pk %}">Профиль</a>
                    <a class="item" onclick="ask('Вы уверены, что хотите выйти?', '{% url 'confirm_logout' %}')">Выход</a>
                {% endif %}
            </div>
    </header>
    <main>
        <div class="content">
            <div class="search_div">
                <select name="search_type" id="" >
                    <option value="tags" selected="selected">Тэги</option>
                    <option value="names">ФИО</option>
                </select>
                <input type="text" class="search">
                <button onclick="search()">Найти</button>
            </div>
            {% block main %}{% endblock %}
        </div>
    </main>
    <br>
    <style>
        html {
            background-image: url("{% static 'back.png' %}");
            background-repeat: no-repeat;
            background-size: 100%;
            background-attachment: fixed;
        }
    </style>
</body>
</html>