{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">
    <link href="{% static 'header.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'main.css' %}" type="text/css" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
            <div class="section">
                <a class="logo" href="{% url 'index' %}"><img src="{% static 'logo.png' %}" alt=""></a>
                <a class="item" href="http://sch45.com.ru" class="href">Вернуться на сайт школы</a>
                <a class="item" href="{% url 'index' %}" class="href">Главная</a>
                <a class="item" href="{% url 'exhibit_list' %}" class="href">Музей</a>
                <a class="item" href="{% url 'profile_list' %}" class="href">Профили</a>
                <a class="item" href="{% url 'create_solder' %}" class="href">Добавить ветерана</a>
                {% if user.is_staff %}
                    <a class="item" href="/admin" class="href">Админ-панель</a>
                {% endif %}
            </div>
            <div class="section">
                {% if not user.is_authenticated %}
                    <a class="item" href="{% url 'login' %}">Авторизация</a>
                    <a class="item" href="{% url 'register' %}">Регистрация</a>
                {% else %}
                    <a class="item" href="{% url 'profile_detail' pk=user.pk %}">Профиль</a>
                    <a class="item" href="{% url 'logout' %}">Выход</a>
                {% endif %}
            </div>
    </header>
    <main>
        <div class="content">
            {% block main %}{% endblock %}
        </div>
    </main>
    <br><br><br><br><br>
</body>
</html>