{% extends 'history_main/base.html' %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'exhibit.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block title %}Музей{% endblock %}
{% block main %}
    {% for exhibit in object_list %}
        <div class="single_exhibit">
            <img class="image" src="{{ exhibit.image.url }}" alt="" width="300">
            <div class="info">
                <p class="name">{{ exhibit.name }}</p>
                <div class="exhibit_desc">
                    {{ exhibit.desc|slice:"400" }}{% if exhibit.desc|length > 400 %}...{% endif %}
                </div>
                <a class="action" href="{% url 'exhibit_detail' pk=exhibit.id %}">Подробнее</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}