{% extends 'history_main/base.html' %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'forms.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block title %}
    Добавление поста
{% endblock title %}
{% block main %}
    <div class="form_container">
        <div>
            <p class="title">Добовление Ветерана</p>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label class="form_label">Имя*: </label>
                <input type="text" class="form_input" name="first_name" maxlength="150">
                <label class="form_label">Отчество*: </label>
                <input type="text" class="form_input" name="middle_name" maxlength="150">
                <label class="form_label">Фамилия*: </label>
                <input type="text" class="form_input" name="last_name" maxlength="150">
                <label class="form_label">Описание*: </label>
                <textarea name="desc" id="" cols="45" rows="10" class="form_text"></textarea>
                <label class="form_label">Статус: </label>
                <input type="checkbox" name="is_alive" id="" class="form_checkbox">
                <label class="form_label">Фото*: </label>
                <input type="file" name="photo" accept="images/" id="" class="form_file">
                <label class="form_label">Дата рождения*: </label>
                <input class="form_date" type="date" name="birth_date" id="">
                <label class="form_label">Дата смерти: </label>
                <input class="form_date" type="date" name="death_date" id="">
                <button class="submit_button" type="submit">отправить</button>
                {% if form.errors %}
                    <span>Возникла какая то ошибка, проверьте, все ли поля отмеченный знаком "*" заполнены</span>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock main %}