{% extends 'history_main/base.html' %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'solder.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block title %}
    {{object.last_name}} {{ object.first_name }} {{ object.middle_name }}
{% endblock title %}
{% block main %}
    <div class="sindle_solder">
        <img class="photo" src="{{ object.photo.url }}" alt="" width="300">
        <div class="info">
            <p class="name">{{ object.last_name }} {{ object.middle_name }} {{object.last_name}}</p>
            <span class="auther">Автор: 
                <a href="{% url 'profile_detail' pk=object.creator.id %}">{{ object.creator.last_name }} {{ object.creator.first_name }}</a>
            </span>
            <div class="solder_desc">
                {{ object.desc }} <br>
                Статус: {% if object.is_alive %} Жив {% else %} Мёртв {% endif %} <br>
                Дата рождения: {{ object.birth_date.day }} {% if object.birth_date.month|length < 2 %}0{% endif %}{{ object.birth_date.month }} {{ object.birth_date.year }} <br>
                {% if not object.is_alive %}
                    Дата смерти: {{ object.death_date.day }} {% if object.death_date.month|length < 2 %}0{% endif %}{{ object.death_date.month }} {{ object.death_date.year }} <br>
                {% endif %}
            </div>
            {% if user == object.creator or user.is_staff %}
                <a class="action" onclick="ask('Вы уверены, что хотите удалить эту запись?', '{% url 'confirm_delete_solder' pk=object.pk %}')">Удалить</a>
            {% endif %}
        </div>
    </div>
{% endblock main %}