{% extends 'history_main/base.html' %}
{% block title %}
    Добавление поста
{% endblock title %}
{% block main %}
    <div class="create_solder">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for=""></label>Имя: {{ form.first_name }}</label><br>
            <label for=""></label>Отчество: {{ form.middle_name }}</label><br>
            <label for=""></label>Фамилия: {{ form.last_name }}</label><br>
            <label for=""></label>Описание: {{ form.desc }}</label><br>
            <label for=""></label>Статус: {{ form.is_alive }}</label><br>
            <label for=""></label>Фото: {{ form.photo }}</label><br>
            <label for=""></label>Дата рождения: <input type="date" name="birth_date" id=""></label><br>
            <label for=""></label>Дата смерти: <input type="date" name="death_date" id=""></label><br>
            <button type="submit">отправить</button>
        </form>
    </div>
{% endblock main %}