.form_container {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.form_container > div {
    /* background-color: #883F41; */
    width: 40%;
}

.title {
    background-color: #883F41;
    border: 16px solid #883F41;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}

form {
    background-color: #faebd7;
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

span {
    color: #FF0000;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.form_input {
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
}

.form_text {
	overflow: auto;
	resize: none;
	background: #f6f6f6;
	border: 1px solid #cecece;
	border-radius: 8px 0 0 0;
	padding: 8px 0 8px 10px;
}

.form_checkbox {
	cursor: pointer;
}


.form_file {
    color: #883F41
}

.submit_button {
    color: #fff;
    background-color: #883F41;
    border: 10px solid #883F41;
    margin-top: 5px;
    width: 80%;
    margin-left: 10%;
}

img {
    height: 50;
}