a {
    text-decoration: none;
}

.single_profile {
    display: flex;
    padding: 30px;
    width: 50%;
    margin-left: 25%;
}

.single_profile_det {
    display: flex;
    padding: 30px;
}

.left {
    width: 35%;
    position: relative;
    top: -40px;
}

.image_container {
    background-color: #fff;
    width: 200px;
    padding: 8px;
    margin-top: 15%;
}

.image {
    width: 200px;
}

.info {
    width: 40%;
    margin-left: 10%;
}

.name {
    background-color: #883F41;
    border: 8px solid #883F41;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
}

.profile_desc {
    background-color: #faebd7;
    border: 10px solid #faebd7;
}

.action {
    color: #fff;
    background-color: #883F41;
    border: 8px solid #883F41;
    position: relative;
    top: 10px;
}

.action:hover{
    text-decoration: underline;
}

.posts {
    margin-top: 15px;
    background-color: #faebd7;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single_post {
    padding: 10px;
    width: 40%;
}

.post_link {
    color: #000;
}

.post_image {
    width: 100%;
}

.post_link:hover {
    text-decoration: underline;
}

